.example-space {
    flex: 1 1 auto;
}

table {
    width: 100%;
    padding: 20px;
}

.mat-form-field {
    font-size: 14px;
    width: 100%;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}